<!DOCTYPE html>
<html data-theme="black" lang="en">
  <head>
    <title>{{ title }}</title>
    <meta charset="UTF-8"/>
    {% if description %}
      <meta name="description" content="{{description}}"/>
    {% endif %}
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover"/>
    <meta name="generator" content="Eleventy" />

    <link rel="stylesheet" href="/{{ hash['css/styles.css'] }}"/>
    <script defer src="/{{ hash['js/scripts.js'] }}"></script>

    {% block head %}{% endblock %}
  </head>
  <body class="relative antialiased">
      <div class="background-grid"></div>
      {% include "../../header.njk" %} 
    {% block content %}
      {{ content | safe }}
    {% endblock %}
    <script>
document.addEventListener('DOMContentLoaded', () => {
  const scrollLinks = document.querySelectorAll('a[data-scroll]');
  
  scrollLinks.forEach(link => {
    link.addEventListener('click', (e) => {
      e.preventDefault();
      const targetId = link.getAttribute('data-scroll');
      const targetElement = document.querySelector(targetId);
      
      if (targetElement) {
        const headerOffset = 80; // Adjust this value based on your header height
        const elementPosition = targetElement.getBoundingClientRect().top;
        const offsetPosition = elementPosition + window.pageYOffset - headerOffset;

        window.scrollTo({
          top: offsetPosition,
          behavior: 'smooth'
        });
      }
    });
  });
});
</script>
  </body>
</html>
