---
title: About Bonfire Builders
description: A software house for the cooperative economy
layout: layouts/base.njk
---
<div class="bg-[#F8C6D8] relative">
  {% include "./header.njk" %} 
  <div class="relative z-20 max-w-screen-md lg:pt-20 pt-12 pb-12 mx-auto">
    <div class="">
      <h1 class="font-serif text-center text-4xl font-black tracking-wide">We are thinkers and builders, activists and artists. We’re a network of learners and community-minded folks.</h1>
    </div>
  </div>
  <div class="bg-[url('../../img/wave-about.svg')] z-10 bg-cover bg-center bg-no-repeat aspect-[960/300] absolute -bottom-[150px] lg:-bottom-[320px] xl:-bottom-[400px] left-0 right-0 w-full"></div>
</div>

<div class="relative z-20 max-w-screen-lg mx-6 xl:mx-auto my-32">
  <h2 class="font-serif text-3xl font-black tracking-wide">What we do</h2>
  <div style="font-weight: 400" class="max-w-screen-lg gap-16 mt-4 prose lg:columns-2">
    From ideation to deployment and maintainance, our services cover your back and ensure the whole process runs smoothly. We work openly, documenting and sharing every step of our process, to help others improve, build upon, or fork our work.From ideation to deployment and maintainance, our services cover your back and ensure the whole process runs smoothly. We work openly, documenting and sharing every step of our process, to help others improve, build upon, or fork our work.
    From ideation to deployment and maintainance, our services cover your back and ensure the whole process runs smoothly. We work openly, documenting and sharing every step of our process, to help others improve, build upon, or fork our work.From ideation to deployment and maintainance, our services cover your back and ensure the whole process runs smoothly. 
  </div>
  <div class="flex items-center mt-8 space-x-6">
    <a href="#" class="btn btn-outline">Governance</a>
    <a href="#" class="btn btn-outline">Meeting notes</a>
  </div>
</div>

<div class="relative z-20 max-w-screen-lg lg:mx-auto mx-6 my-32">
  <h2 class="font-serif text-3xl font-black tracking-wide">People</h2>
  <div class="max-w-screen-sm mt-4 text-lg font-light prose">We’re the founders and main devs behind the bonfire framework. We leverage our acquired experience and knowledge to develop ad-hoc platform to suite the most tailored needs.</div>
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-8 mt-8">
    <div class="flex flex-col items-center">
      <div class="p-[50%] border border-base-content"></div>
      <div class="mt-2 text-base font-bold text-center text-base-content">Mayel De Borniol</div>
      <div class="underline mt-1 text-sm font-regular text-center text-base-content text-opacity-70">Developer</div>
      <a href="https://ivan.cafe" class="btn btn-ghost btn-sm mx-auto text-center text-sm font-bold">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 mr-1" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M12.586 4.586a2 2 0 112.828 2.828l-3 3a2 2 0 01-2.828 0 1 1 0 00-1.414 1.414 4 4 0 005.656 0l3-3a4 4 0 00-5.656-5.656l-1.5 1.5a1 1 0 101.414 1.414l1.5-1.5zm-5 5a2 2 0 012.828 0 1 1 0 101.414-1.414 4 4 0 00-5.656 0l-3 3a4 4 0 105.656 5.656l1.5-1.5a1 1 0 10-1.414-1.414l-1.5 1.5a2 2 0 11-2.828-2.828l3-3z" clip-rule="evenodd" />
        </svg>
        <span>Website</span>
      </a>
    </div>
    <div class="flex flex-col items-center">
      <div class="p-[50%] border border-base-content"></div>
      <div class="mt-2 text-base font-bold text-center text-base-content">Karen Konou</div>
      <div class="underline mt-1 text-sm font-regular text-center text-base-content text-opacity-70">Developer</div>
      <a href="https://ivan.cafe" class="btn btn-ghost btn-sm mx-auto text-center text-sm font-bold">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 mr-1" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M12.586 4.586a2 2 0 112.828 2.828l-3 3a2 2 0 01-2.828 0 1 1 0 00-1.414 1.414 4 4 0 005.656 0l3-3a4 4 0 00-5.656-5.656l-1.5 1.5a1 1 0 101.414 1.414l1.5-1.5zm-5 5a2 2 0 012.828 0 1 1 0 101.414-1.414 4 4 0 00-5.656 0l-3 3a4 4 0 105.656 5.656l1.5-1.5a1 1 0 10-1.414-1.414l-1.5 1.5a2 2 0 11-2.828-2.828l3-3z" clip-rule="evenodd" />
        </svg>
        <span>Website</span>
      </a>
    </div>
    <div class="flex flex-col items-center">
      <div class="p-[50%] border border-base-content"></div>
      <div class="mt-2 text-base font-bold text-center text-base-content">James Lavier</div>
      <div class="underline mt-1 text-sm font-regular text-center text-base-content text-opacity-70">Developer</div>
      <a href="https://ivan.cafe" class="btn btn-ghost btn-sm mx-auto text-center text-sm font-bold">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 mr-1" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M12.586 4.586a2 2 0 112.828 2.828l-3 3a2 2 0 01-2.828 0 1 1 0 00-1.414 1.414 4 4 0 005.656 0l3-3a4 4 0 00-5.656-5.656l-1.5 1.5a1 1 0 101.414 1.414l1.5-1.5zm-5 5a2 2 0 012.828 0 1 1 0 101.414-1.414 4 4 0 00-5.656 0l-3 3a4 4 0 105.656 5.656l1.5-1.5a1 1 0 10-1.414-1.414l-1.5 1.5a2 2 0 11-2.828-2.828l3-3z" clip-rule="evenodd" />
        </svg>
        <span>Website</span>
      </a>
    </div>
    <div class="flex flex-col items-center">
      <div class="p-[50%] border border-base-content"></div>
      <div class="mt-2 text-base font-bold text-center text-base-content">Ivan Minutillo</div>
      <div class="underline mt-1 text-sm font-regular text-center text-base-content text-opacity-70">Designer & Developer</div>
      <a href="https://ivan.cafe" class="btn btn-ghost btn-sm mx-auto text-center text-sm font-bold">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 mr-1" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M12.586 4.586a2 2 0 112.828 2.828l-3 3a2 2 0 01-2.828 0 1 1 0 00-1.414 1.414 4 4 0 005.656 0l3-3a4 4 0 00-5.656-5.656l-1.5 1.5a1 1 0 101.414 1.414l1.5-1.5zm-5 5a2 2 0 012.828 0 1 1 0 101.414-1.414 4 4 0 00-5.656 0l-3 3a4 4 0 105.656 5.656l1.5-1.5a1 1 0 10-1.414-1.414l-1.5 1.5a2 2 0 11-2.828-2.828l3-3z" clip-rule="evenodd" />
        </svg>
        <span>Website</span>
      </a>
    </div>
  </div>
  
</div>


<div id="friends" class="relative z-20 max-w-screen-lg mx-6 lg:mx-auto my-16 lg:my-32">
  <h2 class="font-serif text-3xl font-black tracking-wide">Friends</h2>
  <div class="max-w-screen-sm mt-4 text-lg font-light prose">We’re the founders and main devs behind the bonfire framework. We leverage our acquired experience and knowledge to develop ad-hoc platform to suite the most tailored needs.</div>
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-8 mt-8">
    <div class="flex flex-col items-center">
      <div class="p-[50%] border border-base-content"></div>
      <div class="mt-2 text-base font-bold text-center text-base-content">Rocco Lombardi</div>
      <div class="underline mt-1 text-sm font-regular text-center text-base-content text-opacity-70">Art & Graphic Facilitation</div>
      <a href="https://ivan.cafe" class="btn btn-ghost btn-sm mx-auto text-center text-sm font-bold">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 mr-1" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M12.586 4.586a2 2 0 112.828 2.828l-3 3a2 2 0 01-2.828 0 1 1 0 00-1.414 1.414 4 4 0 005.656 0l3-3a4 4 0 00-5.656-5.656l-1.5 1.5a1 1 0 101.414 1.414l1.5-1.5zm-5 5a2 2 0 012.828 0 1 1 0 101.414-1.414 4 4 0 00-5.656 0l-3 3a4 4 0 105.656 5.656l1.5-1.5a1 1 0 10-1.414-1.414l-1.5 1.5a2 2 0 11-2.828-2.828l3-3z" clip-rule="evenodd" />
        </svg>
        <span>Website</span>
      </a>
    </div>
    <div class="flex flex-col items-center">
      <div class="p-[50%] border border-base-content"></div>
      <div class="mt-2 text-base font-bold text-center text-base-content">We Are Open Coop</div>
      <div class="underline mt-1 text-sm font-regular text-center text-base-content text-opacity-70">Service Design</div>
      <a href="https://ivan.cafe" class="btn btn-ghost btn-sm mx-auto text-center text-sm font-bold">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 mr-1" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M12.586 4.586a2 2 0 112.828 2.828l-3 3a2 2 0 01-2.828 0 1 1 0 00-1.414 1.414 4 4 0 005.656 0l3-3a4 4 0 00-5.656-5.656l-1.5 1.5a1 1 0 101.414 1.414l1.5-1.5zm-5 5a2 2 0 012.828 0 1 1 0 101.414-1.414 4 4 0 00-5.656 0l-3 3a4 4 0 105.656 5.656l1.5-1.5a1 1 0 10-1.414-1.414l-1.5 1.5a2 2 0 11-2.828-2.828l3-3z" clip-rule="evenodd" />
        </svg>
        <span>Website</span>
      </a>
    </div>
    <div class="flex flex-col items-center">
      <div class="p-[50%] border border-base-content"></div>
      <div class="mt-2 text-base font-bold text-center text-base-content">Avanguardie Cooperative</div>
      <div class="underline mt-1 text-sm font-regular text-center text-base-content text-opacity-70">Business Strategy</div>
      <a href="https://ivan.cafe" class="btn btn-ghost btn-sm mx-auto text-center text-sm font-bold">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 mr-1" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M12.586 4.586a2 2 0 112.828 2.828l-3 3a2 2 0 01-2.828 0 1 1 0 00-1.414 1.414 4 4 0 005.656 0l3-3a4 4 0 00-5.656-5.656l-1.5 1.5a1 1 0 101.414 1.414l1.5-1.5zm-5 5a2 2 0 012.828 0 1 1 0 101.414-1.414 4 4 0 00-5.656 0l-3 3a4 4 0 105.656 5.656l1.5-1.5a1 1 0 10-1.414-1.414l-1.5 1.5a2 2 0 11-2.828-2.828l3-3z" clip-rule="evenodd" />
        </svg>
        <span>Website</span>
      </a>
    </div>
    <div class="flex flex-col items-center">
      <div class="p-[50%] border border-base-content"></div>
      <div class="mt-2 text-base font-bold text-center text-base-content">Coding Social</div>
      <div class="underline mt-1 text-sm font-regular text-center text-base-content text-opacity-70">Service Design</div>
      <a href="https://ivan.cafe" class="btn btn-ghost btn-sm mx-auto text-center text-sm font-bold">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 mr-1" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M12.586 4.586a2 2 0 112.828 2.828l-3 3a2 2 0 01-2.828 0 1 1 0 00-1.414 1.414 4 4 0 005.656 0l3-3a4 4 0 00-5.656-5.656l-1.5 1.5a1 1 0 101.414 1.414l1.5-1.5zm-5 5a2 2 0 012.828 0 1 1 0 101.414-1.414 4 4 0 00-5.656 0l-3 3a4 4 0 105.656 5.656l1.5-1.5a1 1 0 10-1.414-1.414l-1.5 1.5a2 2 0 11-2.828-2.828l3-3z" clip-rule="evenodd" />
        </svg>
        <span>Website</span>
      </a>
    </div>
    <div class="flex flex-col items-center">
      <div class="p-[50%] border border-base-content"></div>
      <div class="mt-2 text-base font-bold text-center text-base-content">Mikorizal</div>
      <div class="underline mt-1 text-sm font-regular text-center text-base-content text-opacity-70">Economic & Mutual Networks</div>
      <a href="https://ivan.cafe" class="btn btn-ghost btn-sm mx-auto text-center text-sm font-bold">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 mr-1" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M12.586 4.586a2 2 0 112.828 2.828l-3 3a2 2 0 01-2.828 0 1 1 0 00-1.414 1.414 4 4 0 005.656 0l3-3a4 4 0 00-5.656-5.656l-1.5 1.5a1 1 0 101.414 1.414l1.5-1.5zm-5 5a2 2 0 012.828 0 1 1 0 101.414-1.414 4 4 0 00-5.656 0l-3 3a4 4 0 105.656 5.656l1.5-1.5a1 1 0 10-1.414-1.414l-1.5 1.5a2 2 0 11-2.828-2.828l3-3z" clip-rule="evenodd" />
        </svg>
        <span>Website</span>
      </a>
    </div>
    <div class="flex flex-col items-center">
      <div class="p-[50%] border border-base-content"></div>
      <div class="mt-2 text-base font-bold text-center text-base-content">YPATIA</div>
      <div class="underline mt-1 text-sm font-regular text-center text-base-content text-opacity-70">Feminist studies</div>
      <a href="https://ivan.cafe" class="btn btn-ghost btn-sm mx-auto text-center text-sm font-bold">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 mr-1" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M12.586 4.586a2 2 0 112.828 2.828l-3 3a2 2 0 01-2.828 0 1 1 0 00-1.414 1.414 4 4 0 005.656 0l3-3a4 4 0 00-5.656-5.656l-1.5 1.5a1 1 0 101.414 1.414l1.5-1.5zm-5 5a2 2 0 012.828 0 1 1 0 101.414-1.414 4 4 0 00-5.656 0l-3 3a4 4 0 105.656 5.656l1.5-1.5a1 1 0 10-1.414-1.414l-1.5 1.5a2 2 0 11-2.828-2.828l3-3z" clip-rule="evenodd" />
        </svg>
        <span>Website</span>
      </a>
    </div>
  </div>
</div>




{% include "./footer.njk" %} 

