<div class="relative z-20 max-w-screen-lg mx-auto my-32">
  <div class="grid grid-cols-2 gap-16">
    <div>
      <h2 class="font-serif text-3xl font-black tracking-wide">Let’s build something great together</h2>
      <div class="mt-4 text-lg font-light prose">Get in touch and schedule a chat about how we can work together</div>
    </div>
    <div class="relative">
      <div class="h-60 w-60 rounded-full absolute z-0 left-24 opacity-70 top-24 blur-3xl bg-gradient-to-r from-purple-500 to-pink-500"></div>
      <div class="relative z-10 flex flex-col p-4 bg-transparent space-y-3 border rounded-box border-base-content">
        <div class="form-control">
          <label class="label">
            <span class="label-text">Email</span>
          </label> 
          <input type="text" placeholder="Type your email" class="input input-bordered">
        </div>
        <div class="form-control">
          <label class="label">
            <span class="label-text">Your message</span>
          </label> 
          <textarea class="h-40 textarea textarea-bordered" placeholder="Write something meaningful"></textarea>
        </div>
        <button class="w-full btn">Send message</button>
      </div>
    </div>
  </div>
</div>