---
title: Contact
description: A software house for the cooperative economy
layout: layouts/base.njk
---
<div class="bg-[#DFD8F4] relative">
  {% include "./header.njk" %} 
  <div class="relative z-20 max-w-screen-md lg:pt-20 pt-12 pb-12 mx-auto">
    <div class="">
      <h1 class="font-serif text-center text-4xl font-black tracking-wide"><div class="text-6xl mb-4">👋</div> Drop us a line, whether you want to engage with us for some work, or just to say hello. </h1>
    </div>
  </div>
  <div class="bg-[url('../../img/wave-contact.svg')] z-10 bg-cover bg-center bg-no-repeat aspect-[960/300] absolute xl:-bottom-[360px] lg:-bottom-[300px] left-0 right-0 w-full"></div>
</div>

<div class="lg:mt-48 mt-24 mb-40">
    {% include "./contact-form.njk" %}
</div>

{% include "./footer.njk" %} 

