<div class="relative">
  <!-- <div class="bg-[url('../../img/wave-footer.svg')] z-10 bg-cover bg-center bg-no-repeat aspect-[960/100] absolute top-0 left-0 right-0 w-full"></div> -->
  <div class=" lg:pt-16 pt-8 lg:pb-8 pb-4 relative">
    {# <div class="relative z-20 flex flex-col max-w-screen-lg mx-6 lg:flex-row lg:mx-auto">
      <div class="flex-1">
        <div class="text-xs font-bold uppercase text-base-content">ready to bring your ideas into the world?</div>
        <div class="font-serif text-3xl font-black tracking-wide">Let’s build together</div>
      </div>
      
      <a href="/contact" class="mt-6 btn lg:mt-0">get in touch</a>
    </div> #}
    <div class="border-t border-base-content/20 mt-16">
      <div class="relative z-20 flex items-center max-w-screen-lg pt-4 mx-auto">
        <div class="flex-1 hidden lg:block">
          <span class="flex items-center space-x-2 text-xs font-bold uppercase text-base-content">
            <img class="h-6" src="/img/bonfire.png" /><span>Bonfire Builders</span>
          </span>
        </div> 
        <a href="/" class="flex items-center mx-6 space-x-2 text-base font-bold uppercase lg:hidden text-base-content">
          <img class="h-6 mr-1" src="/img/bonfire.png" /><span class="mr-2">⚒️</span><span>Bonfire Builders</span>
        </a>
        <div class="flex-none hidden lg:flex">
          <div class="flex items-stretch space-x-4">
            <a href="/#amplify" data-scroll="#amplify" class="text-sm font-light btn btn-ghost rounded-btn">About</a> 
            <a href="/#features" data-scroll="#features" class="text-sm font-light btn btn-ghost rounded-btn">work</a> 
            <a href="/#pricing" data-scroll="#pricing"  target="blank" class="text-sm font-light btn btn-ghost rounded-btn">Blog</a> 
            <a href="/#contact" data-scroll="#contact" class="text-sm font-light btn btn-ghost rounded-btn">Contact</a>
          </div>
        </div> 
      </div>
    </div>
  </div>
</div>