<div class="relative flex flex-col items-center place-content-center z-20 max-w-screen-lg p-8 mx-6 lg:mx-auto  bg-[#E0ECF1] rounded-box">
  <div class="mt-6 font-serif text-3xl font-black text-center">We build upon the fire of giants</div>
  <div class="max-w-screen-md mx-auto mt-6 text-base prose text-center">We put aside 5% of our revenue to directly support the creators and maintainers of the commons, such as <span class="tooltip underline decoration-dashed" data-tip="libre: free and open source software">libre <span class="hidden">/ free and open source</span></span> tools, libraries, art, infrastructure, communities, creators, or content that we rely on.</div>
  <a href="#" class="mx-auto mt-6 mb-6 btn">See donations</a>
</div>
