<nav class="top-0 sticky z-50 bg-base-100" x-data="{open: false}">
<div class=" max-w-screen-xl mx-auto mb-2 items-center navbar text-base-content border-base-content">
  <div class="flex-1 hidden lg:block">
    <a href="/" class="flex items-center px-2 py-1 space-x-2 text-lg font-bold text-base-content uppercase">
      <img class="h-6" src="/img/bonfire.png" /><span>Bonfire MOSAIC</span>
    </a>
  </div>
  <a href="/" class="flex lg:hidden items-center space-x-2 text-lg font-bold text-base-content uppercase">
    <img class="h-8 mr-2" src="/img/bonfire.png" /><span>Bonfire MOSAIC</span>
  </a>
  <div class="flex-none hidden lg:flex">
    <div class="flex items-stretch space-x-4">
      <a href="/#amplify" data-scroll="#amplify" class="{{ 'font-bold underline underline-offset-4 decoration-wavy decoration-2' if '/about' in page.url }} text-sm uppercase font-normal btn btn-ghost rounded-btn">About</a> 
      <a href="/#features" data-scroll="#features" class="{{ 'font-bold underline underline-offset-4 decoration-wavy decoration-2' if '/work' in page.url }} text-sm uppercase font-normal btn btn-ghost rounded-btn">Features</a> 
      <a href="/#pricing" data-scroll="#pricing" target="blank" class="text-sm uppercase font-normal btn btn-ghost rounded-btn">Pricing</a> 
      <a href="/#contact" data-scroll="#contact" class="{{ 'font-bold underline underline-offset-4 decoration-wavy decoration-2' if '/contact' in page.url }} text-sm uppercase font-normal btn btn-ghost rounded-btn">Contact</a>
    </div>
  </div>
  <div class="absolute top-2 right-4 flex items-center sm:hidden">
          <!-- Mobile menu button-->
    <button type="button" class="inline-flex items-center justify-center p-2 rounded-md text-base-content text-opacity-80 hover:text-white hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white" aria-controls="mobile-menu" @click="open = !open" aria-expanded="true" x-bind:aria-expanded="open.toString()">
      <span class="sr-only">Open main menu</span>
      <svg x-description="Icon when menu is closed. Heroicon name: outline/menu" x-state:on="Menu open" x-state:off="Menu closed" class="h-7 w-7 hidden" :class="{ 'hidden': open, 'block': !(open) }" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
      </svg>
      <svg x-description="Icon when menu is open.Heroicon name: outline/x" x-state:on="Menu open" x-state:off="Menu closed" class="h-7 w-7 block" :class="{ 'block': open, 'hidden': !(open) }" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
      </svg>
    </button>
  </div>
</div>
  <div 
    x-description="Mobile menu, show/hide based on menu state." 
    class="sm:hidden bg-base-100 -top-4" 
    id="mobile-menu" 
    x-show="open">
    <div class="px-2 pt-2 pb-3 space-y-1">    
      <a href="/#amplify" data-scroll="#amplify" class="{{ 'bg-gray-900 text-white' if '/about' in page.url }} text-gray-300 block px-3 py-2 rounded-md text-base font-medium" x-state:on="Current" x-state:off="Default" aria-current="page">About</a>  
      <a href="/#features" data-scroll="#features" class="{{ 'bg-gray-900 text-white' if '/work' in page.url }} text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium">Features</a>  
      <a href="/#pricing" data-scroll="#pricing" target="blank" class="text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium">Blog</a>  
      <a href="/#contact" data-scroll="#contact" class="{{ 'bg-gray-900 text-white' if '/contact' in page.url }} text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium">Contact</a>  
    </div>
  </div>
</nav>