<div class="max-w-screen-xl pt-4 mx-auto mb-2 px-6 items-center navbar text-base-content border-base-content">
  <div class="flex-1 ">
    <a href="/" class="flex items-center px-2 py-1 space-x-2 text-xs font-bold text-gray-200 uppercase bg-black">
      <img class="h-6" src="/img/bonfire.png" /><span>⚒️</span><span>Bonfire Builders</span>
    </a>
  </div> 
  <div class="flex-none hidden lg:flex">
    <div class="flex items-stretch space-x-8">
      <a href="/about" class="{{ 'font-bold underline underline-offset-4 decoration-wavy decoration-2' if '/about' in page.url }} text-sm font-light btn btn-ghost rounded-btn">About</a> 
      <a href="/work" class="{{ 'font-bold underline underline-offset-4 decoration-wavy decoration-2' if '/work' in page.url }} text-sm font-light btn btn-ghost rounded-btn">work</a> 
      <a class="text-sm font-light btn btn-ghost rounded-btn">Blog</a> 
      <a href="/contact" class="{{ 'font-bold underline underline-offset-4 decoration-wavy decoration-2' if '/contact' in page.url }} text-sm font-light btn btn-ghost rounded-btn">Contact</a>
    </div>
  </div> 
</div>
