---
title: Bonfire Builders
description: A software house for the cooperative economy
layout: layouts/base.njk
---
<div class="bg-[#E0ECF1] relative">
  {% include "./header.njk" %} 
  <div class="relative z-20 grid items-start max-w-screen-lg grid-cols-1 gap-12 px-6 py-6 mx-auto lg:px-0 lg:grid-cols-2 xl:gap-24 lg:pt-24 lg:pb-12">
    <div class="">
      <h1 class="font-serif text-4xl font-black tracking-wide">A software house for the cooperative economy</h1>
      <div class="mt-4 text-lg font-light prose">We are a small team of designers, developers, and other creatives working on open and federated technology. Our focus is empowering users with <span class="underline tooltip decoration-dashed" data-tip="libre: free and open source software">libre <span class="hidden">/ free and open source</span></span> tools that they feel confident to use, customize, and adapt to their diverse and evolving needs.</div>
      <a href="#contact" class="mt-8 btn btn-accent">Get in touch</a>
    </div>
    <div class="h-[420px] border border-base-content"></div>
  </div>
  <div class="bg-[url('../../img/wave.svg')] z-10 bg-cover bg-center bg-no-repeat aspect-[960/100] absolute left-0 right-0 w-full"></div>
</div>

<div class="relative z-20 max-w-screen-lg px-6 mx-auto my-24 lg:my-40 xl:px-0">
  <h2 class="font-serif text-3xl font-black tracking-wide">Supporting you at every step</h2>
  <div class="max-w-screen-sm mt-4 text-lg font-light prose">From ideation to deployment, maintainance and training we help you with the whole product lifecycle. We work openly, documenting and sharing every step of our processes, to empower you and your users with autonomy and self-management over the tools we build.</div>
  <div class="grid grid-cols-1 gap-8 mt-8 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4">
    <div>
      <div class="p-[50%] border border-base-content"></div>
      <div class="mt-2 font-serif text-lg font-bold text-center text-base-content">Product & Service Design</div>
    </div>
    <div>
      <div class="p-[50%] border border-base-content"></div>
      <div class="mt-2 font-serif text-lg font-bold text-center text-base-content">Software Engineering</div>
    </div>
    <div>
      <div class="p-[50%] border border-base-content"></div>
      <div class="mt-2 font-serif text-lg font-bold text-center text-base-content">Documentation & Training </div>
    </div>
    <div>
      <div class="p-[50%] border border-base-content"></div>
      <div class="mt-2 font-serif text-lg font-bold text-center text-base-content"> Hosting & Support</div>
    </div>
  </div>
</div>

<div class="relative z-20 max-w-screen-lg px-6 mx-auto my-16 lg:px-0 lg:my-32">
  <div class="grid grid-cols-1 gap-16 lg:grid-cols-2 lg:gap-32">
    <div>
      <h2 class="font-serif text-3xl font-black tracking-wide">Build your next app with us</h2>
      <div class="mt-4 text-lg font-light prose">Whether you want to start a new global platform co-op, explore better ways for your organisation to coordinate and communicate with its network, or create a small tool for your community, we can support your mission. </div>
      <div class="bg-[#E0ECF1] rounded-box p-8 mt-6">
        <div class="text-xl font-bold">Experts on call</div>
        <div class="mt-3 text-base prose">
          We leverage our acquired experience to develop apps that suit the most tailored needs.
        </div>
        <a href="/about/#friends" class="mt-2 btn btn-sm btn-accent">See our people</a>
      </div>
      <div class="bg-[#E0ECF1] rounded-box p-8 mt-6">
        <div class="text-xl font-bold">Sharing is caring</div>
        <div class="mt-3 text-base prose">
          We’re not alone though! Whenever specific skills are needed, we call upon friends in the ecosystem that we love to work with. 
        </div>
        <a href="/about/#friends" class="mt-2 btn btn-sm btn-accent">People we've worked with</a>
      </div>
    </div>

    <div class="flex flex-col space-y-4">
      <div class="flex items-start space-x-3">
        <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" viewBox="0 0 20 20" fill="currentColor">
          <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" />
        </svg>
        <div class="flex-1">
          <div class="text-lg font-bold text-base-content">From ideation to maintenance</div>
          <div class="mt-2 text-base prose text-base-content">Workshops and co-design sessions are key to delivering human-centric solutions. We always look to the people and their needs rather than just problems and solutions.</div>
        </div>
      </div>

      <div class="flex items-start space-x-3">
        <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" viewBox="0 0 20 20" fill="currentColor">
          <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" />
        </svg>
        <div class="flex-1">
          <div class="text-lg font-bold text-base-content">Full stack development</div>
          <div class="mt-2 text-base prose text-base-content">We have a straightforward approach to developing applications from the ground up (with a team simultaneously building out all aspects of the app using a single programming language, from the database all the way to the UI) which minimises unexpected issues and delays.</div>
        </div>
      </div>

      <div class="flex items-start space-x-3">
        <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" viewBox="0 0 20 20" fill="currentColor">
          <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" />
        </svg>
        <div class="flex-1">
          <div class="text-lg font-bold text-base-content">Usability and accessibility first</div>
          <div class="mt-2 text-base prose text-base-content">Our tools respect people’s time and effort, and are fully accessible and functional, user-friendly, convenient, reliable, and beautiful.</div>
        </div>
      </div>

      <div class="flex items-start space-x-3">
        <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" viewBox="0 0 20 20" fill="currentColor">
          <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" />
        </svg>
        <div class="flex-1">
          <div class="text-lg font-bold text-base-content">Documenting every step</div>
          <div class="mt-2 text-base prose text-base-content">Each project comes with a cookbook and documentation to entice and empower others to both use and adapt it with confidence.</div>
        </div>
      </div>
    </div>
  </div>
</div>

{% include "./bonfire.njk" %}

<div class="lg:my-32">
  {% include "./contact-form.njk" %}
</div>

<div class="lg:my-32">
  {% include "./foss.njk" %}
</div>

{% include "./footer.njk" %} 

