---
title: Bonfire Builders
description: A software house for the cooperative economy
layout: layouts/base.njk
---
<div class="relative">
  <div class="relative z-20 grid items-start max-w-screen-md text-center grid-cols-1 gap-12 px-6 py-6 mx-auto lg:px-0 xl:gap-24 lg:pt-24 lg:pb-12">
    <div class="">
      <h1 class="font-serif text-[6.25rem] leading-[125px] font-black tracking-wide">Your Digital Presence, Unified</h1>
      <div class="mt-6 text-base-content/90 text-3xl leading-[48px]">Bonfire Mosaic revolutionises your online presence by integrating your website, social networking, and coordination tools into one robust platform.</div>
      <a href="/#pricing" data-scroll="#pricing" class="mt-8 btn btn-lg text-lg shadow-xl uppercase btn-success rounded-md">See plans</a>
    </div>
    <div class="h-[420px] bg-base-100 border border-base-content/20"></div>
  </div>
  {# <div class="bg-[url('../../img/wave.svg')] z-10 bg-cover bg-center bg-no-repeat aspect-[960/100] absolute left-0 right-0 w-full"></div> #}
</div>

<div id="amplify" class="relative z-20 max-w-screen-lg px-6 mx-auto my-16 lg:my-24 xl:px-0">
  <h2 class="font-serif text-4xl text-center font-black tracking-wide">Amplify your impact, Reduce costs and complexity.</h2>
  <div class="mt-8 items-top gap-8">
  <div class="text-3xl text-center text-base-content font-medium font-serif tracking-wider">Unlike traditional websites or consumer social media platforms, Mosaic empowers you with standards-based federation to seamlessly connect with millions of users across a multitude of compatible apps.</div>  
  </div>
  <ul class="grid grid-cols-1 lg:grid-cols-2 grid-rows-3 mt-12 gap-2">
  <li class="relative group card bg-base-100 lg:row-span-2 border border-base-content/20 h-full rounded-xl !w-full">
    <div class="card-mosaic group-hover:opacity-50 absolute inset-0"></div>
    <div class="h-[350px] w-full block"></div>
    <span class="absolute bottom-6 left-3 right-3">
      <div class="mt-2 font-serif text-2xl font-bold text-center text-base-content">Cost-Effective Unified Platform</div>
      <div class="text-lg mt-2 text-base-content/80 text-center">Manage your website and social network from a single dashboard, consolidating multiple tools to streamline digital strategy and operations while significantly reducing development and maintenance expenses.</div>
    </span>
  </li>
  <li class="relative group card bg-base-100 border border-base-content/20 rounded-xl !w-full">
    <div class="card-mosaic group-hover:opacity-50 absolute inset-0"></div>
    <div class="h-[350px] w-full block"></div>
    <span class="absolute bottom-6 left-3 right-3">
      <div class="mt-2 font-serif text-2xl font-bold text-center text-base-content">Enhanced Engagement</div>
      <div class="text-lg mt-2 text-base-content/80 text-center">Build a vibrant community and expand your reach by seamlessly connecting with the Fediverse, fostering active participation and visibility.</div>
    </span>
  </li>
  <li class="relative group card bg-base-100 border border-base-content/20 rounded-xl !w-full">
    <div class="card-mosaic group-hover:opacity-50 absolute inset-0"></div>
    <div class="h-[350px] w-full block"></div>
    <span class="absolute bottom-6 left-3 right-3">
      <div class="mt-2 font-serif text-2xl font-bold text-center text-base-content">Data Sovereignty</div>
      <div class="text-lg mt-2 text-base-content/80 text-center">Choose self-hosting or our cooperative hosting service to retain full control over your data. Enable visitors, clients, and external collaborators to interact from anywhere and retain ownership and control of their data.</div>
    </span>
  </li>
  <li class="relative group card bg-base-100 border border-base-content/20 rounded-xl !w-full">
    <div class="card-mosaic group-hover:opacity-50 absolute inset-0"></div>
    <div class="h-[350px] w-full block"></div>
    <span class="absolute bottom-6 left-3 right-3">
      <div class="mt-2 font-serif text-2xl font-bold text-center text-base-content">Safety & Privacy</div>
      <div class="text-lg mt-2 text-base-content/80 text-center">Implement robust features, policies, and governance tools to protect data, users, and interactions across the platform, prioritising safety and privacy at every level.</div>
    </span>
  </li>
  <li class="relative group card bg-base-100 border border-base-content/20 rounded-xl !w-full">
    <div class="card-mosaic group-hover:opacity-50 absolute inset-0"></div>
    <div class="h-[350px] w-full block"></div>
    <span class="absolute bottom-6 left-3 right-3">
      <div class="mt-2 font-serif text-2xl font-bold text-center text-base-content">Accessibility & Interoperability</div>
      <div class="text-lg mt-2 text-base-content/80 text-center">Ensure the platform is accessible to anyone, with user-friendly design and standards-based features and APIs that support interoperability across various technologies.</div>
    </span>
  </li>
</ul>
  
  
  
</div>


<div id="features" class="relative z-20 max-w-screen-lg px-6 mx-auto my-16 lg:px-0">
  
  <h1 class="text-3xl text-center font-black tracking-widest mb-8">Mosaic is</h1>
  
  
  <ul class="grid grid-cols-1 mt-12 gap-2">
    <li class="group relative card bg-base-100 grid lg:grid-cols-2 gap-4 !h-auto !bg-base-100 border border-base-content/20 rounded-xl !w-full">
      <div class="card-mosaic group-hover:opacity-50 absolute inset-0"></div>
      <div class="px-8 pb-8 p-4">
        <div class="mt-2 font-serif text-3xl font-bold  text-base-content">A presentational website</div>
        <div class="mt-4">
          <div class="font-bold text-lg tracking-wide">Custom designs</div>
          <div class="text-base text-base-content/80 mt-2">Tailor your website's pages and posts to reflect your identity with flexible and customizable layouts.</div>
        </div>
        <div class="mt-4">
          <div class="font-bold text-lg tracking-wide">Privacy-friendly analytics</div>
          <div class="text-base text-base-content/80 mt-2">Track engagement and performance with comprehensive metrics, all while maintaining visitor privacy—no more cookie banners required!</div>
        </div>
      </div>
    </li>
    
    <li class="group relative card bg-base-100 grid lg:grid-cols-2 gap-4 !h-auto !bg-base-100 border border-base-content/20 rounded-xl !w-full">
      <div class="card-mosaic group-hover:opacity-50 absolute inset-0"></div>
      <div></div>
      <div class="px-8 pb-8 p-4">
        <div class="mt-2 font-serif text-3xl font-bold  text-base-content">A Social Network</div>
        <div class="mt-4">
          <div class="font-bold text-lg tracking-wide">Engagement galore</div>
          <div class="text-base text-base-content/80 mt-2">Visitors can follow pages, authors, groups, and topics. Enable interactions like boosts, likes, and replies on content. All seamless for Fediverse users, with no extra sign-up!</div>
        </div>
        <div class="mt-4">
          <div class="font-bold text-lg tracking-wide">Groups and topics</div>
          <div class="text-base text-base-content/80 mt-2">Create and manage groups with various membership settings (public, invite-only, team-only) and categorise content by topics to streamline both internal coordination and external collaboration.</div>
        </div>
      </div>
    </li>
    
    <li class="group relative card bg-base-100 grid lg:grid-cols-2 gap-4 !h-auto !bg-base-100 border border-base-content/20 rounded-xl !w-full">
      <div class="card-mosaic group-hover:opacity-50 absolute inset-0"></div>
      <div class="px-8 pb-8 p-4">
        <div class="mt-2 font-serif text-3xl font-bold  text-base-content">A Communication Tool</div>
        <div class="mt-4">
          <div class="font-bold text-lg tracking-wide">Federated coordination</div>
          <div class="text-base text-base-content/80 mt-2">Facilitate threaded discussions and messaging among internal teams and external collaborators—no extra sign-ups or app downloads required!</div>
        </div>
        <div class="mt-4">
          <div class="font-bold text-lg tracking-wide">Newsletter</div>
          <div class="text-base text-base-content/80 mt-2"> Email updates that can include articles, social posts, and custom content, helping to keep your audience informed and engaged.</div>
        </div>
      </div>
    </li>


    
    
  </ul>  

</div>  
  
<div id="pricing" class="py-24 sm:py-32">
    
  <div class="mx-auto max-w-screen-xl px-6 lg:px-0">
    <div class="mx-auto max-w-4xl text-center">
      <h2 class="text-base font-semibold leading-7 text-base-content uppercase tracking-widest">Pricing</h2>
      <p class="mt-2 text-4xl font-bold tracking-tight text-base-content sm:text-5xl">Plans for teams of&nbsp;all&nbsp;sizes</p>
    </div>
    <p class="mx-auto mt-6 max-w-2xl text-center text-lg leading-8 text-base-content/80">Distinctio et nulla eum soluta et neque labore quibusdam. Saepe et quasi iusto modi velit ut non voluptas in. Explicabo id ut laborum.</p>
    
    <div class="isolate lg:hidden mx-auto mt-16 grid max-w-md grid-cols-1 gap-y-8 sm:mt-20 lg:mx-0 lg:max-w-none lg:grid-cols-3">
      <div class="flex flex-col justify-between rounded-3xl bg-base-100 p-8 ring-1 ring-base-content/20 lg:mt-8 lg:rounded-r-none xl:p-10">
        <div>
          <div class="flex items-center justify-between gap-x-4">
            <h3 id="tier-freelancer" class="text-2xl font-semibold leading-8 text-base-content">Basic</h3>
          </div>
          <p class="mt-2 text-sm leading-6 text-base-content/90">The essentials to provide your best work for clients.</p>
          <p class="mt-4 flex items-baseline gap-x-1">
            <span class="text-4xl font-bold tracking-tight text-base-content">€ 3k/5K</span>
            {# <span class="text-sm font-semibold leading-6 text-base-content/90"></span> #}
          </p>
          <ul role="list" class="mt-8 space-y-3 text-sm leading-6 text-base-content/90">
            <li class="flex gap-x-3">
              <svg class="h-6 w-5 flex-none text-success" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
              </svg>
              Choice of website templates, with minor customizations
            </li>
            <li class="flex gap-x-3">
              <svg class="h-6 w-5 flex-none text-success" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
              </svg>
              Up to 3 custom designs / layouts 
            </li>
            <li class="flex gap-x-3">
              <svg class="h-6 w-5 flex-none text-success" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
              </svg>
              Unlimited pages and blog posts
            </li>
            <li class="flex gap-x-3">
              <svg class="h-6 w-5 flex-none text-success" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
              </svg>
              Custom colors & typography
            </li>
            <li class="flex gap-x-3">
              <svg class="h-6 w-5 flex-none text-success" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
              </svg>
              Basic Contact form
            </li>
            <li class="flex gap-x-3">
              <svg class="h-6 w-5 flex-none text-success" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
              </svg>
              Simple newsletter signup form
            </li>
            <li class="flex gap-x-3">
              <svg class="h-6 w-5 flex-none text-success" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
              </svg>
              Basic integrations
            </li>
            <li class="flex gap-x-3">
              <svg class="h-6 w-5 flex-none text-success" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
              </svg>
              1 training session
            </li>
            <li class="flex gap-x-3">
              <svg class="h-6 w-5 flex-none text-success" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
              </svg>
              Self-managed roles & boundaries
            </li>
            <li class="flex gap-x-3">
              <svg class="h-6 w-5 flex-none text-success" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
              </svg>
              Includes setup of managed hosting
            </li>
          </ul>
        </div>
        <a href="#" aria-describedby="tier-freelancer" class="mt-8 btn btn-neutral rounded-md">Buy plan</a>
      </div>
      <div class="flex flex-col justify-between rounded-3xl bg-base-100 p-8 ring-1 ring-base-content/20 lg:z-10 lg:rounded-b-none xl:p-10">
        <div>
          <div class="flex items-center justify-between gap-x-4">
            <h3 id="tier-startup" class="text-2xl font-semibold leading-8">Pro</h3>
            <p class="rounded-full bg-success/70 px-2.5 py-1 text-sm font-semibold leading-5 text-success-content">Most popular</p>
          </div>
          <p class="mt-2 text-sm leading-6 text-base-content/90">A plan that scales with your rapidly growing business.</p>
          <p class="mt-4 flex items-baseline gap-x-1">
            <span class="text-4xl font-bold tracking-tight text-base-content">€10k/15k</span>
            {# <span class="text-sm font-semibold leading-6 text-base-content/90">/month</span> #}
          </p>
          <ul role="list" class="mt-8 space-y-3 text-sm leading-6 text-base-content/90">
            <li class="flex gap-x-3">
              <svg class="h-6 w-5 flex-none text-success" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
              </svg>
              Custom Theme
            </li>
            <li class="flex gap-x-3">
              <svg class="h-6 w-5 flex-none text-success" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
              </svg>
              Up to 6 custom designs / layouts
            </li>
            <li class="flex gap-x-3">
              <svg class="h-6 w-5 flex-none text-success" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
              </svg>
              Unlimited pages and blog posts
            </li>
            <li class="flex gap-x-3">
              <svg class="h-6 w-5 flex-none text-success" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
              </svg>
              Custom widgets, colors & typography
            </li>
            <li class="flex gap-x-3">
              <svg class="h-6 w-5 flex-none text-success" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
              </svg>
              Contact form sends an email to users based on custom role
            </li>
            <li class="flex gap-x-3">
              <svg class="h-6 w-5 flex-none text-success" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
              </svg>
              Automatic newsletters based on website sections / topics
            </li>
            <li class="flex gap-x-3">
              <svg class="h-6 w-5 flex-none text-success" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
              </svg>
              Advanced integrations (e.g. automatically cross-post to other social networks)
            </li>
            <li class="flex gap-x-3">
              <svg class="h-6 w-5 flex-none text-success" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
              </svg>
              Up to 3 training sessions
            </li>
            <li class="flex gap-x-3">
              <svg class="h-6 w-5 flex-none text-success" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
              </svg>
              Up to 10 custom verbs, roles, and built-in boundaries
            </li>
            <li class="flex gap-x-3">
              <svg class="h-6 w-5 flex-none text-success" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
              </svg>
              Includes setup of managed hosting
            </li>
          </ul>
        </div>
        <a href="#" aria-describedby="tier-startup" class="mt-8 btn btn-success">Buy plan</a>
      </div>
      <div class="flex flex-col justify-between rounded-3xl bg-base-100 p-8 ring-1 ring-base-content/20 lg:mt-8 lg:rounded-l-none xl:p-10">
        <div>
          <div class="flex items-center justify-between gap-x-4">
            <h3 id="tier-enterprise" class="text-2xl font-semibold leading-8 text-base-content">Premium</h3>
          </div>
          <p class="mt-2 text-sm leading-6 text-base-content/90">Dedicated support and infrastructure for your company.</p>
          <p class="mt-4 flex items-baseline gap-x-1">
            <span class="text-4xl font-bold tracking-tight text-base-content">Custom</span>
            {# <span class="text-sm font-semibold leading-6 text-base-content/90">/month</span> #}
          </p>
          <ul role="list" class="mt-8 space-y-3 text-sm leading-6 text-base-content/90">
            <li class="flex gap-x-3">
              <svg class="h-6 w-5 flex-none text-success" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
              </svg>
              Bespoke website / app
            </li>
            <li class="flex gap-x-3">
              <svg class="h-6 w-5 flex-none text-success" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
              </svg>
              6+ custom designs / layouts
            </li>
            <li class="flex gap-x-3">
              <svg class="h-6 w-5 flex-none text-success" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
              </svg>
              Unlimited pages and blog posts
            </li>
            <li class="flex gap-x-3">
              <svg class="h-6 w-5 flex-none text-success" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
              </svg>
              Advanced customisation & bespoke features
            </li>
            <li class="flex gap-x-3">
              <svg class="h-6 w-5 flex-none text-success" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
              </svg>
              Custom social networking features (e.g. integration with federated event calendar or video hosting)
            </li>
            <li class="flex gap-x-3">
              <svg class="h-6 w-5 flex-none text-success" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
              </svg>
              Contact form integrated with CRM, support/ticketing system, or the like
            </li>
            <li class="flex gap-x-3">
              <svg class="h-6 w-5 flex-none text-success" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
              </svg>
              Custom newsletters that integrate website updates and custom content
            </li>
            <li class="flex gap-x-3">
              <svg class="h-6 w-5 flex-none text-success" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
              </svg>
              Tailored to specific business needs
            </li>
            <li class="flex gap-x-3">
              <svg class="h-6 w-5 flex-none text-success" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
              </svg>
              3+ training sessions 
            </li>
            <li class="flex gap-x-3">
              <svg class="h-6 w-5 flex-none text-success" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
              </svg>
              10+ custom verbs, roles, and built-in boundaries
            </li>
            <li class="flex gap-x-3">
              <svg class="h-6 w-5 flex-none text-success" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
              </svg>
              Includes setup of managed hosting
            </li>
          </ul>
        </div>
        <a href="#" aria-describedby="tier-enterprise" class="mt-8 btn btn-neutral rounded-md">Buy plan</a>
      </div>
    </div>
    <!-- lg+ -->
    <div class="isolate bg-base-100 mt-20 hidden lg:block">
      <div class="relative -mx-8">
        <div class="absolute inset-x-4 inset-y-0 -z-10 flex">
          <div class="flex w-1/4 px-4 " style="margin-left: 50%" aria-hidden="true">
            <div class="w-full rounded-t-xl border-x border-t border-base-content/20 bg-base-content/5"></div>
          </div>
        </div>
        <table class="w-full table-fixed border-separate border-spacing-x-8 text-left">
          <caption class="sr-only">
            Pricing plan comparison
          </caption>
          <colgroup>
            <col class="w-1/4">
            <col class="w-1/4">
            <col class="w-1/4">
            <col class="w-1/4">
          </colgroup>
          <thead>
            <tr class="">
              <td></td>
              <th scope="col" class="px-6 pt-6 xl:px-8 xl:pt-8">
                <div class="text-sm font-semibold leading-7 text-base-content">Basic</div>
              </th>
              <th scope="col" class="px-6 pt-6 xl:px-8 xl:pt-8">
                <div class="text-sm font-semibold leading-7 text-base-content">Pro</div>
              </th>
              <th scope="col" class="px-6 pt-6 xl:px-8 xl:pt-8">
                <div class="text-sm font-semibold leading-7 text-base-content">Premium</div>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr class="">
              <th scope="row"><span class="sr-only">Price</span></th>
              <td class="px-6 pt-2 xl:px-8">
                <div class="flex items-baseline gap-x-1 text-base-content">
                  <span class="text-4xl font-bold">€3k/5k</span>
                  {# <span class="text-sm font-semibold leading-6">/month</span> #}
                </div>
                <a href="#" class="mt-8 btn w-full btn-neutral">Buy plan</a>
              </td>
              <td class="px-6 pt-2 xl:px-8">
                <div class="flex items-baseline gap-x-1 text-base-content">
                  <span class="text-4xl font-bold">€10k/15k</span>
                  {# <span class="text-sm font-semibold leading-6">/month</span> #}
                </div>
                <a href="#" class="mt-8 btn w-full btn-success">Buy plan</a>
              </td>
              <td class="px-6 pt-2 xl:px-8">
                <div class="flex items-baseline gap-x-1 text-base-content">
                  <span class="text-4xl font-bold">€15k/50€</span>
                  {# <span class="text-sm font-semibold leading-6">/month</span> #}
                </div>
                <a href="#" class="mt-8 btn w-full btn-neutral">Buy plan</a>
              </td>
            </tr>
            <tr class="">
              <th scope="colgroup" colspan="4" class="pb-4 pt-8 text-sm font-semibold leading-6 text-base-content">
                Features
                <div class="absolute inset-x-8 mt-6 h-px bg-base-content/10"></div>
              </th>
            </tr>
            <tr class="">
              <th scope="row" class="py-6 text-sm font-normal leading-6 text-base-content">
                Website
                <div class="absolute inset-x-8 mt-6 h-px bg-base-content/10"></div>
              </th>
              <td class="px-6 py-4 xl:px-8">
                <div class="text-center text-sm leading-6 text-base-content/80">Choose from templates, with minor customizations</div>
              </td>
              <td class="px-6 py-4 xl:px-8">
                <div class="text-center text-sm leading-6 text-base-content/80">Custom Website design</div>
              </td>
              <td class="px-6 py-4 xl:px-8">
                <div class="text-center text-sm leading-6 text-base-content/80">Bespoke website / native app</div>
              </td>
            </tr>
            <tr class="">
              <th scope="row" class="py-6 text-sm font-normal leading-6 text-base-content">
                Custom layouts
                <div class="absolute inset-x-8 mt-6 h-px bg-base-content/10"></div>
              </th>
              <td class="px-6 py-4 xl:px-8">
                <div class="text-center text-sm leading-6 text-base-content/80">Up to 3</div>
              </td>
              <td class="px-6 py-4 xl:px-8">
                <div class="text-center text-sm leading-6 text-base-content/80">Up to 6</div>
              </td>
              <td class="px-6 py-4 xl:px-8">
                <div class="text-center text-sm leading-6 text-base-content/80">6+</div>
              </td>
            </tr>
            <tr class="">
              <th scope="row" class="py-6 text-sm font-normal leading-6 text-base-content">
                Unlimited Pages and blog posts
                <div class="absolute inset-x-8 mt-6 h-px bg-base-content/10"></div>
              </th>
              <td class="px-6 py-4 xl:px-8">
                <svg class="mx-auto h-6 w-6 text-success" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
                </svg>
                <span class="sr-only">Included in Basic</span>
              </td>
              <td class="px-6 py-4 xl:px-8">
                <svg class="mx-auto h-6 w-6 text-success" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
                </svg>
                <span class="sr-only">Included in Essential</span>
              </td>
              <td class="px-6 py-4 xl:px-8">
                <svg class="mx-auto h-6 w-6 text-success" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
                </svg>
                <span class="sr-only">Included in Premium</span>
              </td>
            </tr>
            
            <tr class="">
              <th scope="row" class="py-6 text-sm font-normal leading-6 text-base-content">
                Custom colors & typography
                <div class="absolute inset-x-8 mt-6 h-px bg-base-content/10"></div>
              </th>
              <td class="px-6 py-4 xl:px-8">
                <svg class="mx-auto h-6 w-6 text-success" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
                </svg>
                <span class="sr-only">Included in Basic</span>
              </td>
              <td class="px-6 py-4 xl:px-8">
                <svg class="mx-auto h-6 w-6 text-success" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
                </svg>
                <span class="sr-only">Included in Essential</span>
              </td>
              <td class="px-6 py-4 xl:px-8">
                <svg class="mx-auto h-6 w-6 text-success" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
                </svg>
                <span class="sr-only">Included in Premium</span>
              </td>
            </tr>
            
            <tr class="">
              <th scope="row" class="py-6 text-sm font-normal leading-6 text-base-content">
                Widgets
                <div class="absolute inset-x-8 mt-6 h-px bg-base-content/10"></div>
              </th>
              <td class="px-6 py-4 xl:px-8">
                <div class="text-center text-sm leading-6 text-base-content/80">Choose from the existing widgets</div>
              </td>
              <td class="px-6 py-4 xl:px-8">
                <div class="text-center text-sm leading-6 text-base-content/80">Up to 3 custom widgets</div>
              </td>
              <td class="px-6 py-4 xl:px-8">
                <div class="text-center text-sm leading-6 text-base-content/80">Unlimited custom widgets</div>
              </td>
            </tr>

            {# <tr class="">
              <th scope="colgroup" colspan="4" class="pb-4 pt-16 text-sm font-semibold leading-6 text-base-content">
                Reporting
                <div class="absolute inset-x-8 mt-6 h-px bg-base-content/10"></div>
              </th>
            </tr> #}
            <tr class="">
              <th scope="row" class="py-6 text-sm font-normal leading-6 text-base-content">
                Social networking features
                <div class="absolute inset-x-8 mt-6 h-px bg-base-content/10"></div>
              </th>
              <td class="px-6 py-4 xl:px-8">
                <div class="text-center text-sm leading-6 text-base-content/80">Basic</div>
              </td>
              <td class="px-6 py-4 xl:px-8">
                <div class="text-center text-sm leading-6 text-base-content/80">Enhanced</div>
              </td>
              <td class="px-6 py-4 xl:px-8">
               <div class="text-center text-sm leading-6 text-base-content/80">Custom</div>
              </td>
            </tr>
            <tr class="">
              <th scope="row" class="py-6 text-sm font-normal leading-6 text-base-content">
                Contact form
                <div class="absolute inset-x-8 mt-6 h-px bg-base-content/10"></div>
              </th>
              <td class="px-6 py-4 xl:px-8">
                <div class="text-center text-sm leading-6 text-base-content/80">Basic</div>
              </td>
              <td class="px-6 py-4 xl:px-8">
                <div class="text-center text-sm leading-6 text-base-content/80">Role-based contact form</div>
              </td>
              <td class="px-6 py-4 xl:px-8">
                <div class="text-center text-sm leading-6 text-base-content/80">Integration with custom CMR</div>
              </td>
            </tr>
            <tr class="">
              <th scope="row" class="py-6 text-sm font-normal leading-6 text-base-content">
                Newsletter
                <div class="absolute inset-x-8 mt-6 h-px bg-base-content/10"></div>
              </th>
              <td class="px-6 py-4 xl:px-8">
                <div class="text-center text-sm leading-6 text-base-content/80">Basic</div>
              </td>
              <td class="px-6 py-4 xl:px-8">
                <div class="text-center text-sm leading-6 text-base-content/80">Enhanced</div>
              </td>
              <td class="px-6 py-4 xl:px-8">
                <div class="text-center text-sm leading-6 text-base-content/80">Tailored to specific business need</div>
              </td>
            </tr>
            <tr class="">
              <th scope="row" class="py-6 text-sm font-normal leading-6 text-base-content">
                Integration
                <div class="absolute inset-x-8 mt-6 h-px bg-base-content/10"></div>
              </th>
              <td class="px-6 py-4 xl:px-8">
                <div class="text-center text-sm leading-6 text-base-content/80">Basic</div>
              </td>
              <td class="px-6 py-4 xl:px-8">
                <div class="text-center text-sm leading-6 text-base-content/80">1 custom integration</div>
              </td>
              <td class="px-6 py-4 xl:px-8">
                <div class="text-center text-sm leading-6 text-base-content/80">Up to 3 custom integration</div>
              </td>
            </tr>

            {# <tr class="">
              <th scope="colgroup" colspan="4" class="pb-4 pt-16 text-sm font-semibold leading-6 text-base-content">
                Support
                <div class="absolute inset-x-8 mt-6 h-px bg-base-content/10"></div>
              </th>
            </tr> #}
            <tr class="">
              <th scope="row" class="py-6 text-sm font-normal leading-6 text-base-content">
                Training sessions
                <div class="absolute inset-x-8 mt-6 h-px bg-base-content/10"></div>
              </th>
              <td class="px-6 py-4 xl:px-8">
                <div class="text-center text-sm leading-6 text-base-content/80">1</div>
              </td>
              <td class="px-6 py-4 xl:px-8">
                <div class="text-center text-sm leading-6 text-base-content/80">Up to 3</div>
              </td>
              <td class="px-6 py-4 xl:px-8">
                <div class="text-center text-sm leading-6 text-base-content/80">3+</div>
              </td>
            </tr>
            <tr class="">
              <th scope="row" class="py-6 text-sm font-normal leading-6 text-base-content">
                Roles & Boundaries
                <div class="absolute inset-x-8 mt-6 h-px bg-base-content/10"></div>
              </th>
              <td class="px-6 py-4 xl:px-8">
                <div class="text-center text-sm leading-6 text-base-content/80">Self-managed</div>
              </td>
              <td class="px-6 py-4 xl:px-8">
                <div class="text-center text-sm leading-6 text-base-content/80">Up to 5 custom verbs, roles, and built-in boundaries</div>
              </td>
              <td class="px-6 py-4 xl:px-8">
                <div class="text-center text-sm leading-6 text-base-content/80">5+ custom verbs, roles, and built-in boundaries</div>
              </td>
            </tr>
            <tr class="">
              <th scope="row" class="py-6 text-sm font-normal leading-6 text-base-content">
                Setup of managed hosting
                <div class="absolute inset-x-8 mt-6 h-px bg-base-content/10"></div>
              </th>
              <td class="px-6 py-4 xl:px-8">
                <svg class="mx-auto h-6 w-6 text-success" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
                </svg>
                <span class="sr-only">Included in Essential</span>
              </td>
              <td class="px-6 py-4 xl:px-8">
                <svg class="mx-auto h-6 w-6 text-success" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
                </svg>
                <span class="sr-only">Included in Essential</span>
              </td>
              <td class="px-6 py-4 xl:px-8">
                <svg class="mx-auto h-6 w-6 text-success" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
                </svg>
                <span class="sr-only">Included in Premium</span>
              </td>
            </tr>
            
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>





{% include "./bonfire.njk" %}


<div id="contact" class="relative z-20 flex text-center flex-col place-content-center items-center max-w-screen-lg px-6 mx-auto my-16 lg:my-32 xl:px-0">
  <h2 class="font-serif text-4xl  font-black tracking-wide">Got questions? Lets chat.</h2>
  <div class="text-xl font-medium mt-4">Discover how Bonfire Mosaic can spark new flames into your brand and take it to the next level.</div>
  <a href="/" class="btn btn-success btn-wide mt-6">Book a call</a>
  <div class="mt-6 text-base-content/80">or send us an email at <span class="text-base-content tracking-wide ml-1 font-semibold">mosaic@bonfirenetworks.org</span></div>
</div>

{# <div class="lg:my-32">
  {% include "./foss.njk" %}
</div> #}

{% include "./footer.njk" %} 

<script>
  const updateCursor = ({ x, y }) => {
  document.documentElement.style.setProperty('--x', x)
  document.documentElement.style.setProperty('--y', y)
}

document.body.addEventListener('pointermove', updateCursor)
</script>