---
title: Work
description: A software house for the cooperative economy
layout: layouts/base.njk
---
<div class="bg-[#BAF2CD] relative">
  {% include "./header.njk" %} 
  <div class="relative z-20 max-w-screen-md lg:pt-20 pt-12 pb-12 mx-auto">
    <div class="">
      <h1 class="font-serif text-center text-4xl font-black tracking-wide">We build and maintain tools. We share knowledge in the open.</h1>
    </div>
  </div>
  <div class="bg-[url('../../img/wave-work.svg')] z-10 bg-cover bg-center bg-no-repeat aspect-[960/300] absolute lg:-bottom-[360px] -bottom-[140px] left-0 right-0 w-full"></div>
</div>

<div class="relative z-20 max-w-screen-lg xl:mx-auto mx-6 lg:my-32 my-16 xl:mt-48">
  <h2 class="font-serif text-3xl font-black tracking-wide">Our work</h2>
  <div style="font-weight: 400" class="max-w-screen-sm mt-4 prose">
    Leveraging to bonfire as foundation, we build platforms from the bottom-up based on precise users’ needs and experiences. This also means that any further improvements or new extension built upon the bonfire codebase will benefit all our clients and platforms.
    We coordinate in a peer-to-peer fashion using informed consent, experimenting with fairer governance models and economic structures.
  </div>
  <div class="grid grid-cols-1 lg:grid-cols-2 gap-4 lg:gap-8 mt-8">
    <div class="bg-[#E0ECF1] rounded-box p-8 mt-6">
      <div class="text-xl font-bold">Platform development</div>
      <div class="mt-3 text-base prose">
          Wheter you need a new platform for your business, or you want a specific tool to enhance a worflow - we can take care of fulfilling your needs.
      </div>
    </div>
    <div class="bg-[#E0ECF1] rounded-box p-8 mt-6">
      <div class="text-xl font-bold">Training & Support</div>
      <div class="mt-3 text-base prose">
        Do you want to build your own app on bonfire or develop new extensions? We can provide fully tailored training sessions and online courses or be availabel for spot consultancies.
      </div>
    </div>
    <div class="bg-[#E0ECF1] rounded-box p-8 mt-6">
      <div class="text-xl font-bold">Hosting  & maintainance</div>
      <div class="mt-3 text-base prose">
          Do not worry about dealing with servers and updates, we can take care of keeping your platform up & running and update it at any new bonfire release.
      </div>
    </div>
    <div class="bg-[#E0ECF1] rounded-box p-8 mt-6">
      <div class="text-xl font-bold">Facilitation & storytelling</div>
      <div class="mt-3 text-base prose">
        Every adventure is worth telling. We facilitate the emergence of stories, ideas and why not, usefual contradictions to improve the understanding and communication of the whole work.
      </div>
    </div>
  </div>
</div>

{% include "./contact-form.njk" %}
{% include "./footer.njk" %} 

